/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  background: #1f4254;
  margin: 0;
  padding: 0;
}
.selfie{
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  border-radius: 25px;
  border: 5px solid #181f3c;
}
header {
  text-align: center;
  color: #dddddd;
  background-color: #3b6345;
  font-family: 'Open Sans', sans-serif;
}
footer {
display: block;
background-color: #181f3c;
padding: 1px;
margin-top: 50px;
height: 30px;
}

h1 {
  font-size: 65px;
  margin: auto;
  padding: 10px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Oswald', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #42341f;
  border-top: 2px solid #102d1b;
  border-bottom: 2px solid #181f3c;
}
li {
  float: left;
}
li a {
  display: block;
  color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}
li a:hover {
  background-color: #3b6345;
}
.content section {
  background-color: #dddddd;
  border: 5px solid #181f3c;
  border-radius: 15px;
  padding: 7px;
  width: 1000px;
  margin: 20px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 55px;
    margin: auto;
    padding: 10px;
  }
  .selfie{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 175px;
    border-radius: 25px;
    border: 5px solid #181f3c;
  }
  .content section {
    background-color: #dddddd;
    border: 5px solid #181f3c;
    border-radius: 15px;
    padding: 7px;
    width: 600px;
    margin: 20px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 40px;
    margin: auto;
    padding: 10px;
  }
  .selfie{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 175px;
    border-radius: 25px;
    border: 5px solid #181f3c;
  }
  .content section {
    background-color: #dddddd;
    border: 5px solid #181f3c;
    border-radius: 15px;
    padding: 7px;
    width: 300px;
    margin: 20px;
  }
  li {
    float: none;
  }
}
